body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border: 2px solid black;
    border-radius: 8px;
    padding: 4rem 2rem;
    width: 80vw;
}
label{
    font-size: 20px;
    font-weight: 700;
}
input{
    height: 2rem;
    padding: 0px 10px;
    border: 1px solid black;
    border-radius: 8px;
}
button{
    padding: 10px 0;
}
button:hover{
    background-color: black;
    color: white;
}
.modal{
    background-color: rgba(0,0,0,0.5);
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
ol{
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    margin: 0 auto;
    padding: 20px 0;
    border-radius: 8px;
}
.hidden{
    display: none;
}
.limpar{
    background-color: red;
    color: white;
}